{% extends "layout_prototype.html" %}



{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds-from-desktop">

      <h1 class="govuk-heading-xl">Check your answers before sending your application</h1>

      <h2 class="govuk-heading-m">Personal details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Council tax account number
          </dt>
          <dd class="govuk-summary-list__value">
            123456789
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="../../edge.html">
              Change
              <span class="govuk-visually-hidden"> council tax number</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Name
          </dt>
          <dd class="govuk-summary-list__value">
            Katie Williams
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="../../edge.html">
              Change
              <span class="govuk-visually-hidden"> name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Date of birth
          </dt>
          <dd class="govuk-summary-list__value">
            5 January 1993
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="../../edge.html">
              Change
              <span class="govuk-visually-hidden"> date of birth</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact information
          </dt>
          <dd class="govuk-summary-list__value">
            53 Baxter Place
            <br>Newport
            <br>NP23 6FH
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="../../edge.html">
              Change
              <span class="govuk-visually-hidden"> contact information</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Contact details
          </dt>
          <dd class="govuk-summary-list__value">
            <p>07700 900457</p>
            <p>katie.williams@example.com</p>
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="../../edge.html">
              Change
              <span class="govuk-visually-hidden"> contact details</span>
            </a>
          </dd>
        </div>
      </dl>

      <h2 class="govuk-heading-m">Education details</h2>

      <dl class="govuk-summary-list govuk-!-margin-bottom-9">
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Institution name
          </dt>
          <dd class="govuk-summary-list__value">
            Higher Education of Wales
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="../../edge.html">
              Change
              <span class="govuk-visually-hidden"> institution name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Institution address
          </dt>
          <dd class="govuk-summary-list__value">
            College Place
            <br>Wales
            <br>LL07 3PK
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="../../edge.html">
              Change
              <span class="govuk-visually-hidden"> institution address</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Course name
          </dt>
          <dd class="govuk-summary-list__value">
            Design
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="../../edge.html">
              Change
              <span class="govuk-visually-hidden"> course name</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Course level
          </dt>
          <dd class="govuk-summary-list__value">
            7
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="../../edge.html">
              Change
              <span class="govuk-visually-hidden"> course level</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Course start date
          </dt>
          <dd class="govuk-summary-list__value">
            September 2022
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="../../edge.html">
              Change
              <span class="govuk-visually-hidden"> course start date</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Course end date
          </dt>
          <dd class="govuk-summary-list__value">
            June 2024
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="../../edge.html">
              Change
              <span class="govuk-visually-hidden"> course end date</span>
            </a>
          </dd>
        </div>
        <div class="govuk-summary-list__row">
          <dt class="govuk-summary-list__key">
            Hours per week
          </dt>
          <dd class="govuk-summary-list__value">
            15
          </dd>
          <dd class="govuk-summary-list__actions">
            <a href="../../edge.html">
              Change
              <span class="govuk-visually-hidden"> hours per week</span>
            </a>
          </dd>
        </div>
      </dl>
      <form action="declaration-submit.html">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>
    </div>
  </div>
{% endblock %}
