{% extends "layout_prototype.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


<h1 class="govuk-heading-xl">You're not eligible for this discount</h1>

<p>Based on the information you've provided, you do not qualify for this reduced rate of council tax. You may qualify for other reductions on your bill, you can check if you're elegible on the GOV.WALES website. <a href="https://www.gov.wales/council-tax-discounts-and-reduction">GOV.Wales</a> </p>



{% endblock %}
