{% extends "layout_prototype.html" %}

{% block pageTitle %}
  Question page template – {{ serviceName }} – GOV.UK Prototype Kit
{% endblock %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}


<h1 class="govuk-heading-xl">You're eligible</h1>

<p>Based on this information you do not qualify for money off your council tax. You may qualify for further money off if other scenarios apply. Please go to <a href="https://www.gov.wales/council-tax-discounts-and-reduction">GOV.Wales</a> for more information.</p>



{% endblock %}
