{% extends "layout_prototype.html" %}


{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <div class="govuk-panel govuk-panel--confirmation">
        <h1 class="govuk-panel__title">Cais wedi'i gwblhau</h1>
        <div class="govuk-panel__body">
          Rhif cyfeirnod<br><strong>HDJ2123F</strong>
        </div>
      </div>

      <p>
        Mae e-bost cadarnhau wedi cael ei anfon.
      </p>

      <h2 class="govuk-heading-m">Y camu nesaf</h2>
      <p>Mae eich cais wedi cael ei anfon i'r adran treth cyngor.</p>
      <p>Bydd yr adran yn anelu i brosesu eich cais o fewn 10 diwrnod gwaith. Os ydych yn cael trafferth talu eich bil, <a href="https://www.gov.wales/help-cost-living">mae help ar gael</a>. </p>
      <p><a href="https://www.gov.uk/service-manual/user-centred-design/resources/patterns/feedback-pages.html">Beth yw eich barn am y gwasanaeth?</a> (30 eiliad i rannu eich adborth)</p>

      <h2 class="govuk-heading-m">Gwybodaeth bellach</h2>
      <p>Efallai eich bod yn gymwys i dderbyn gostyngiadau eraill ar eich bil treth cyngor. <a href="https://www.gov.wales/council-tax-discounts-and-reduction">Ewch i weld pa ostyngiadau eraill sydd ar gael</a>.</p>
    </div>
  </div>

{% endblock %}
