{% extends "layout_prototype.html" %}



{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Sut hoffech chi i ni gysylltu â chi?</h1>

      <form class="form" action="../../how-would-you-like-contact-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "how-would-you-like-contact",
          fieldset: {
            legend: {
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Email",
              text: "E-bost"
            },
            {
              value: "Phone",
              text: "Ffôn"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Parhau</button>

      </form>

    </div>
  </div>

{% endblock %}
