{% extends "layout_prototype.html" %}



{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Lanlwythwch eich cerdyn adnabod neu dystysgrif myfyriwr</h1>

      <div id="file-upload-1-hint" class="govuk-hint">
        Gallwch lanlwytho eich cerdyn adnabod neu dystysgrif myfyriwr fel copi wedi'i sganio neu llun o'r gwreiddiol.
      </div>

      <form class="form" action="upload-2.html">

        {% from "govuk/components/file-upload/macro.njk" import govukFileUpload %}
        {{ govukFileUpload({
          id: "file-upload-1",
          name: "file-upload-1",
          label: {
            text: "Dewiswch ffeil"
          }
        }) }}

        <button class="govuk-button" data-module="govuk-button">Parhau</button>

      </form>

    </div>
  </div>

{% endblock %}
