{% extends "layout_prototype.html" %}



{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Gwirio cerdyn adnabod neu dystysgrif myfyriwr</h1>

        <img src="student-id.jpg" alt="Llun o'ch cerdyn adnabod neu dystysgrif myfyriwr, wedi'i lwytho gan y defnyddiwr.">

        <form class="form" action="check-answers.html">
        <button class="govuk-button" data-module="govuk-button">Pardhau</button>

      </form>

    </div>
  </div>

{% endblock %}
