{% extends "layout_prototype.html" %}



{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">Ydi pawb yn fyfyrwyr sydd mewn addysg llawn amser?</h1>

      <form class="form" action="../../are-they-all-students-answer" method="post">

        {% from "govuk/components/radios/macro.njk" import govukRadios %}
        {{ govukRadios({
          name: "are-they-all-students",
          fieldset: {
            legend: {
              isPageHeading: true,
              classes: "govuk-fieldset__legend--l"
            }
          },
          items: [
            {
              value: "Yes",
              text: "Ydi"
            },
            {
              value: "No",
              text: "Nac ydi"
            }
          ]
        }) }}

        <button class="govuk-button" data-module="govuk-button">Parhau</button>

      </form>

    </div>
  </div>

{% endblock %}
