{% extends "layout_prototype.html" %}



{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">What is your phone number?</h1>

      <form class="form" action="q-radio-9.html">

        {% from "govuk/components/input/macro.njk" import govukInput %}
          {{ govukInput({
            label: {
              classes: "govuk-label--l",
              isPageHeading: true
            },
            id: "event-name",
            name: "event-name"
          }) }}

        <button class="govuk-button" data-module="govuk-button">Continue</button>

      </form>

    </div>
  </div>

{% endblock %}
