{% extends "layout_prototype.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Bydd angen i chi greu cyfrif treth cyngor
      </h1>
      <p>Bydd angen i <a href="https://www.gov.wales/local-authority-council-tax-contacts">chi greu cyfrif treth gyngor</a> i gael eich bilio'n gywir, ond gallwch barhau â'r cais am y tro.</p>
      <form action="/journeys/2/q-text-2">
        <button class="govuk-button" data-module="govuk-button">Parhau</button>
      </form>

    </div>
  </div>

{% endblock %}
