{% extends "layout_prototype.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        You need to create a council tax account
      </h1>
      <p>You'll need to <a href="https://www.gov.wales/local-authority-council-tax-contacts">create a council tax account</a> to get billed correctly, but you can continue your application for now.</p>

      <form action="/journeys/1/q-text-2">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

      

    </div>
  </div>

{% endblock %}
