{% extends "layout_prototype.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:window.history.back()">Back</a>
{% endblock %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">

      <h1 class="govuk-heading-xl">
        Create application
      </h1>
<p>this is some holding text or <a href="https://google.com">link to someting</a> for Gwen to add all the words!</p>
      <form action="/journeys/2/q-text-2">
        <button class="govuk-button" data-module="govuk-button">Continue</button>
      </form>

    </div>
  </div>

{% endblock %}
