
{% extends "layout_prototype.html" %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Council tax discounts
      </h1>
      <p>You may be eligible for a reduced council tax payment if you:<br><br>

        - live alone<br>
        - are a full time student<br><br>
        
        You can <a href="start">check if you're eligible</a></p>
      <p>
        
      </p>

    </div>
  </div>


{% endblock %}
