
{% extends "layout_prototype.html" %}



{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Gostyngiadau Treth Cyngor
      </h1>
      <p>Efallai eich bod yn gymwys i dderbyn gostyngiad treth gyngor os ydych yn:<br><br>

        - byw ar eich pen eich hun<br>
        - yn fyfyriwr llawn amser<br><br>
        
        Gallwch <a href="start">weld os ydych yn gymwys</a></p>
      <p>
        
      </p>

    </div>
  </div>


{% endblock %}
