
{% extends "layout_prototype.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Gweld os ydych yn gymwys am ostyngiad treth cyngor
      </h1>
      <p>
        Efallai eich bod yn gymwys i dderbyn gostyngiad treth gyngor os ydych yn:<br><br>

        - byw ar eich pen eich hun<br>
        - yn fyfyriwr llawn amser

        <h2 class="govuk-heading-m">
          Cyn dechrau</h2>

        <p>Byddwch angen:<br><br>

        - rhif cyfrif eich treth cyngor<br>
        - eich cerdyn adnabod myfyriwr neu dystysgrif os yn gwneud cais am ddisgownt myfyriwr<br><br>

      </p>

    </div>
  </div>

  <form action="q-radio-1.html">
    <button class="govuk-button" data-module="govuk-button">Dechrau'r cais</button>
  </form>

{% endblock %}
