
{% extends "layout_prototype.html" %}

{% block content %}

  <div class="govuk-grid-row">
    <div class="govuk-grid-column-two-thirds">
      <h1 class="govuk-heading-xl">
        Check if you're eligible for a council tax discount
      </h1>
      <p>
        You may be eligible for a reduced council tax payment if you:<br><br>

        - live alone<br>
        - are a full time student<br><br>

        <h2>Before you start</h2><br><br>

        You'll need:<br><br>

        - your council tax account number<br>
        - your student ID card or certificate if you're applying for a student discount<br><br>

      </p>

    </div>
  </div>

  <form action="q-radio-1.html">
    <button class="govuk-button" data-module="govuk-button">Start now</button>
  </form>

{% endblock %}
